.subreddit-content {
  display: flex;
  margin: 4% 15%;
}

.user-posts {
  width: 65%;
  margin-right: 2%;
}

.user-sidebar {
  width: 35%;
  padding: 0 1%;
}

.subreddit_page_banner{
    height: 300px;
}

.banner_background_img{
    height: 85%;
}

.banner_navbar{
    height: 35%;
    display: flex;
    background-color: white;
}

.banner_navbar_icon{
  margin-left: 15%;
  width:4%;
  border-radius: 50%;
  border: 5px white solid;
  margin-right:1%;
  max-height: 60%;
}

.banner_navabr_info{
  margin-top:1%;
  width: 85%;
}

.banner_navbar_title{
  font-size: 1.1rem;
  font-weight: bold;
}

.banner_navbar_name{
  font-size: 0.8rem;
  /* margin-top: 1%; */
}

.banner_navbar_options{
  margin-top: 1.5%;
  font-size: 0.75rem;
}

.banner_navbar_options span{
  margin: 0 1%;
  font-weight: bold;
}

.banner_navbar_join_button{
  margin-left: 3%;
  padding: 0.5% 1%;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.about_community{
  color: white;
  padding: 3% 2%;
  font-weight: bold;
}

.subreddit_info_desc{
  padding: 2% 3%;
  line-height: 150%;
  font-size: 0.9rem;
}

.subreddit_info_users{
  display: flex;
  padding: 2% 0;
}

.subreddit_info_users .left{
  width: 50%;
}

.subreddit_info_users .right{
  width: 50%;
}

.subreddit_info_users div{
  padding: 0 !important;
  margin: 0 !important;
}
