.posts-navbar {
  border: 0.07 maroon solid;
  padding: 2% 4%;
  margin-bottom: 2%;
  background-color: white;
  border-radius: 4px;
  border: 1px lightgray solid;
  display: flex;
  color: rgba(121, 119, 119, 1);
}

.navbar-category {
  margin-right: 4%;
  display: flex;
}

.card {
  margin: 2% 0;
  background-color: white;
  border-radius: 5px;
  display: flex;
  border: 1px lightgray solid;
}

.vote {
  background-color: rgba(218, 215, 215, 0.2);
  float: left;
  border-radius: 5px 0 0 5px;
  font-size: 0.8rem;
  padding: 2% 1%;
  text-align: center;
  font-weight: bold;
}

.card-body {
  padding: 1%;
}

.card:hover {
  border: 1px gray solid;
  border-radius: 5px;
}

.card-nav {
  font-size: 0.8rem;
  display: flex;
  margin-top: 0.5%;
}

.footer {
  font-size: 0.8rem;
  display: flex;
}

.footer-icon {
  padding-left: 1%;
  display: inherit;
  padding-top: 1%;
  padding-bottom: 1%;
  color: gray;
}

.footer-icon:hover {
  background-color: rgba(128, 128, 128, 0.24);
  border-radius: 3px;
}

.footer-text {
  margin-left: 0.5%;
  color: gray;
  font-weight: bold;
}

.footer-more-options {
  color: gray;
  padding-top: 0.7%;
  padding-right: 1%;
}

/* .dropdown{
  width: 20%;
  background-color: blue;
  position: relative;
}

.dropdown div:nth-child(n){
  padding: 8%;
  z-index: 1;
  position: absolute;
  top: (n+1)*20%;
} */

.dropdown {
  position: relative;
  width: 12%;
}
.dropdown-content {
  position: absolute;
  left: 0;
  width: 80%;
  height: 8px;
  padding: 20%;
  padding-bottom: 25%;
  display: block;
  border: 0.5px rgba(128, 128, 128, 0.46) solid;
  background-color: white;
  color: gray;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 100px gray;
}

.title {
  margin-top: 4%;
  font-size: 1.3rem;
  font-weight: 500;
}

.content {
  margin: 4% 0;
}

.post-author-name {
  color: grey;
}

.underline-link:hover {
  text-decoration: underline;
}

.post-join {
  float: right;
  height: 5%;
  border: none;
  padding: 0.8% 2%;
  font-size: 0.8rem;
  background-color: rgb(48, 122, 204);
  color: white;
  border-radius: 15px;
  font-weight: bold;
}

.post-join:hover {
  opacity: 0.9;
}

.video {
  max-width: 100%;
  position: inherit;
}

.display_link {
  font-size: 0.75rem;
  color: rgb(48, 122, 204);
}

.display_link:hover {
  text-decoration: underline;
}

.award-image {
  max-width: 2.8%;
  margin-left: 1%;
  padding-top: 0.5%;
}

.tooltip .award-image {
  max-width: 40%;
  margin-left: 30%;
  margin-top: 5%;
}

.tooltip {
  padding: 1% 3%;
}

.award-text {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.award-name {
  font-size: 1.2rem;
  margin-bottom: 0.5%;
}

.award-description {
  font-size: 0.8rem;
  padding: 0 3%;
  margin-bottom: 10%;
}

.award-link {
  color: rgb(48, 122, 204);
  font-size: 0.8rem;
}

.award-link:hover {
  text-decoration: underline;
}

.subreddit_tooltip {
  padding: 2%;
  font-size: 1.05rem;
}

.subreddit_tooltip_navbar {
  display: flex;
}

.subreddit_tooltip_name {
  font-weight: 500;
  margin-top: 2.5%;
}

.subreddit_tooltip_users {
  display: flex;
  font-size: 0.9rem;
  padding: 5% 0;
  color: gray;
}

.subreddit_tooltip_members {
  width: 50%;
}

.subreddit_tooltip_online {
  width: 50%;
}

.subreddit_tooltip_button {
  width: 100%;
  margin-top: 3%;
  border: none;
  background-color: rgb(48, 122, 204);
  color: white;
  font-size: 1.05rem;
  padding: 2% 0;
  border-radius: 20px;
  font-weight: bold;
}

.subreddit_tooltip_button:hover {
  opacity: 0.9;
}

.snootar_image {
  max-width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}

.snoovatar_username {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}

.snoovatar_user_details {
  text-align: center;
  color: gray;
  padding: 2% 0;
}

.snoovatar_karma {
  display: flex;
  color: grey;
}

.snoovatar_karma .left {
  width: 50%;
}

.snoovatar_karma .right {
  width: 50%;
}

.create_avatar_button {
  width: 100%;
  margin: 3% 0;
  padding: 3% 0;
  background: linear-gradient(to right, red, orange);
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
}
