/* div{
  border: 0.20rem lightgray solid;
} */

.app-body{
  margin: 0 15%;
  margin-top: 1.5%;
}

.content{
  display: flex;
  margin-top: 1% !important;
}

body{
  background-color: rgb(209, 217, 223);
}
